<html>

<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<!-- Bootstrap css -->
<link rel="stylesheet" href="/media/css/bootstrap/bootstrap.css">
<link rel="stylesheet" href="/media/css/sqpub.css">

<title>{% block title %}{% endblock %}</title>
</head>

<body>
  <main>

  <!-- Navbar -->
  <div class="navbar-wrapper">
    <div class="container no-padding">
      <nav class="navbar navbar-default navbar-static-top">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">SQ Pub</a>
          </div>

          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
              {% if player %}
              <li><a href="/">Leaderboard</a></li>
              <li><a href="/faq">FAQ</a></li>
              {% endif %}
            </ul>
            <ul class="nav navbar-nav navbar-right">
              {% if player %}
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                  {{ player.name }} <span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><a href="/player/{{ player.id }}">{{ player.number_of_eggs }} egg{{ player.number_of_eggs|pluralize }}</a></li>
                  <li><a href="/player/{{ player.id }}">{{ player.score }} points</a></li>
                  <li role="separator" class="divider"></li>
                  <li><a href="/player/{{ player.id }}">My page</a></li>
                  <li><a href="/logout">Logout</a></li>
                </ul>
              </li>
              {% endif %}
            </ul>
          </div><!-- /.navbar-collapse -->
        </div><!-- /.container -->
      </nav>
    </div>
  </div>

    <div class="container main">
      {% block content %}
      {% endblock %}
    </div>
  </main>

  <!-- JQuery -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <!-- Bootstrap JS -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
    integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
    crossorigin="anonymous"></script>
</body>

</html>
