{% extends "base.html" %}

{% block title %} SQPub Easter Eggs - FAQ {% endblock %}

{% block content %}

<h1>SQPub Easter Eggs - FAQ</h1>
<hr />

<h2>How to play?</h2>

	<p>Catch virtual eggs by scanning QR-codes</p>

<h2>When does the game start and end?</h2>

	<p>The eggs can be caught from Wednesday 5th April to Wednesday 19th April.</p>

	<p>A closing ceremony will take place at SQ Pub that evening.</p>

<h2>What do we win?</h2>

	<p>Suprizes.</p>

<h2>Where do I find eggs?</h2>

	<p>Eggs can be found in SQ Pub, cafeteria and parking. No eggs will be placed in offices and common areas.</p>

<h2>Can I give my eggs to someone else?</h2>

	<p>Yes. An egg can be caught once by each player.</p>

<h2>Can I propose new eggs?</h2>

	<p>You can submit your own eggs to the organizers. If they're cute and fun, they'll probably get part of the game.</p>

<h2>Who runs this game?</h2>

	<p>The game is organized by Caroline from SQ Pub and Nicolas S. from SWD.</p>

	<p>Feel free to ask them any question regarding the game you may have.</p>

<h2>Is there an API?</h2>

	<P><A HREF="/api">Yes!</A></P>

{% endblock %}
